body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}

.first-portion{
    width: 60%;
    margin-left: 90px;
    margin-top: 30px;
    margin-right: 100px;
}
.first-portion img{
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 90px;
}
.first-portion h1{
    font-size: 50px;
    border-left: 5px solid;
    border-color: tomato;
    padding-left: 10px;
    border-radius: 10px;
    font-family:'Playfair Display', serif;
    font-weight: 700;
}
span{
    color: crimson;
}
.button{
    background-color:orangered;
    padding:8px 25px 8px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 13px;
}
a:hover{
    background-color: green;
}
.para-fixed{
    font-size: 13px;
    margin-bottom: 20px;
}
.size{
    font-size: 11px;
}
.second-portion h1{
    text-align: right;
    color: tomato;
}
.h-1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-portion{
    width: 40%;
    margin-top: 50px;
   

}
.second-portion img{
    width: 100px;
}

.first-illust{
    background-color: skyblue;
    padding: 20px;
    border-radius: 20px;
    margin-left: 90px;
}
.second-illust{
    padding: 20px;
    border-radius: 20px;
    background-color: lightgreen;
    margin-left: 40px;
    margin-right: 40px;
}
.third-illust{
    padding: 20px;
    border-radius: 20px;
    background-color: lightpink;
    margin-right: 90px;
}

.third-portion{
    width: 40%;
    margin-right: 90px;
   
    
}
.third-portion img{
    width: 300px;
    margin-left:90px ;
    margin-top: 70px;
      
}
.third-fixed{
    margin-top: 120px;
    margin-left: -100px;
}
.third-fixed h2{
    margin-right: 250px;
}
.developer-skills{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: left;
}